<div class="container">
  <%= form_for :record, url: record_path, method: :patch do |f| %>
    <div class="is-size-4 content page-edit">
      <p>Рекомендація:&nbsp;<%= f.text_field :recommendation, class: "input" %></p>
      <p><%= f.submit value: "Відправити", class: 'button is-fullwidth mt-3' %></p>
    </div>
  <% end %>
</div>
